{% extends 'base.html' %}
{% block content %}

<h1>MA06　整数と分数の計算（たす・ひく）</h1>

<div class="section">
  <div class="example-box">

    <p>【例題】(1)\ 2 + \(\dfrac{5}{6}\)\　(2)\ 3 − \(\dfrac{3}{7}\)\ を計算しなさい。</p>

    <p>
      解）(1)\ \(2 + \dfrac{5}{6}
      = \dfrac{2}{1} + \dfrac{5}{6}
      = \dfrac{12}{6} + \dfrac{5}{6}
      = \dfrac{17}{6}\)
    </p>

    <p>
      (2)\ \(3 - \dfrac{3}{7}
      = \dfrac{3}{1} - \dfrac{3}{7}
      = \dfrac{21}{7} - \dfrac{3}{7}
      = \dfrac{18}{7}\)
    </p>

    <p class="note-box">
      通分＝分母をそろえます。
    </p>

  </div>
</div>

<hr>

<div class="section practice-box">
  <p>【類題】以下の計算をしなさい。</p>

  <p>
    (1)\ \(4 - \dfrac{3}{8}\)\　
    (2)\ \(5 - \dfrac{1}{6}\)\　
    (3)\ \(2 - \dfrac{2}{3}\)\　
    (4)\ \(3 + \dfrac{3}{8}\)\　
    (5)\ \(5 + \dfrac{1}{6}\)\　
    (6)\ \(2 - \dfrac{2}{3}\)
  </p>

  <details>
    <summary>【類題の答え】</summary>
    <p>
      (1) 29/8, (2) 29/6, (3) 4/3, (4) 27/8, (5) 31/6, (6) 4/3
    </p>
  </details>
</div>

<hr>

<div class="section check-box">
  <h3>【確認問題】</h3>

  <p>
    (1)\ \(6 - \dfrac{5}{8}\)\　
    (2)\ \(4 + \dfrac{7}{9}\)
  </p>

  <details>
    <summary>【確認問題の答え】</summary>
    <p>(1) 43/8, (2) 43/9</p>
  </details>
</div>

{% endblock %}

